in.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Wdx" targetNamespace="http://schemas.mobilengine.com/Wdx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://schemas.mobilengine.com/Wdx" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.mobilengine.com/Wdx" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWdx_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Data">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="User">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" maxOccurs="1" name="UserId" type="xs:int" />
                  <xs:element minOccurs="1" maxOccurs="1" name="UserName" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Created">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="([1-2][0-9][0-9][0-9])(-)([0-1][0-9])(-)([0-3][0-9])(\ )([0-2][0-9])(:)([0-5][0-9])(:)([0-5][0-9])" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://schemas.mobilengine.com/Wdx" elementFormDefault="qualified" targetNamespace="http://schemas.mobilengine.com/Wdx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import />
      <xs:element name="EnqueueDacs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="dacs" type="tns:Dacs" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Dacs">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Content" type="tns:DacsContent" />
        </xs:sequence>
        <xs:attribute name="dacsid" type="xs:string" />
        <xs:attribute name="dtu" type="xs:dateTime" use="required" />
        <xs:attribute name="meta" type="tns:DacsMeta" use="required" />
      </xs:complexType>
      <xs:simpleType name="DacsMeta">
        <xs:restriction base="xs:string">
          <xs:enumeration value="TestMessage" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="EnqueueDacsResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="EnqueueDacsFail" nillable="true" type="tns:EnqueueDacsFail" />
      <xs:complexType name="EnqueueDacsFail">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="dacsid" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="DacsContent">
        <xs:choice>
          <xs:element ref="Data" />
        </xs:choice>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IWdx_EnqueueDacs_InputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueDacs" />
  </wsdl:message>
  <wsdl:message name="IWdx_EnqueueDacs_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueDacsResponse" />
  </wsdl:message>
  <wsdl:message name="IWdx_EnqueueDacs_EnqueueDacsFailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EnqueueDacsFail" />
  </wsdl:message>
  <wsdl:portType name="IWdx">
    <wsdl:operation name="EnqueueDacs">
      <wsdl:input wsaw:Action="http://schemas.mobilengine.com/Wdx/IWdx/EnqueueDacs" message="tns:IWdx_EnqueueDacs_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.mobilengine.com/Wdx/IWdx/EnqueueDacsResponse" message="tns:IWdx_EnqueueDacs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://schemas.mobilengine.com/Wdx/IWdx/EnqueueDacsEnqueueDacsFailFault" name="EnqueueDacsFailFault" message="tns:IWdx_EnqueueDacs_EnqueueDacsFailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWdx" type="i0:IWdx">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWdx_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnqueueDacs">
      <soap:operation soapAction="http://schemas.mobilengine.com/Wdx/IWdx/EnqueueDacs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnqueueDacsFailFault">
        <soap:fault name="EnqueueDacsFailFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wdx">
    <wsdl:port name="BasicHttpBinding_IWdx" binding="tns:BasicHttpBinding_IWdx">
      <soap:address location="https://sandbox.mobilengine.com/Services/Wdx/Wdx.svc/apikey" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>